---
//@ts-nocheck
import servicesData from "@data/services.json";
console.log(servicesData);
---

<ul>
  {
    servicesData.services.map((service) => (
      <li>
        <h2>{service.title}</h2>
        <p>{service.description}</p>
        <a href="#0">{service.buttonText}</a>
      </li>
    ))
  }
</ul>

<style>
  @layer components {
    ul {
      gap: 1rem;
    }
    li {
      background-color: var(--hero-card-bg);
      border-radius: 30px;
      padding: var(--space-xl);
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;

      h2 {
        font-size: var(--step-1);
        color: var(--primary-color);
        font-weight: 600;
      }
    }
  }
</style>
