---
//@ts-nocheck
import servicesData from "@data/services.json";
console.log(servicesData);
---

<ul>
  {
    servicesData.services.map((service) => (
      <li>
        <h3>{service.title}</h3>
        <p>{service.description}</p>
        <a href="#0">{service.buttonText}</a>
      </li>
    ))
  }
</ul>

<style>
  @layer components {
    ul {
      gap: 1rem;
    }
    li {
      background-color: var(--hero-card-bg);
      border-radius: 30px;
      gap: 1rem;

      h3 {
        color: var(--primary-color);
      }
      a {
        background-color: var(--secondary-color);
        color: var(--primary-color);
        display: inline-block;
      }
    }
  }
</style>
